.edit {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 75vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.edit form {
    margin-left: 5rem;
    margin-top: 2rem;
}

.edit .inputD {
    padding-bottom: 10px;
    display: flex;
    justify-content: start;
}

.edit label {
    padding-right: 5px;
}

.edit input {
    padding: 5px;
    font-size: 18px;
}

.edit #type {
   padding: 5px;
}

.edit option {
    font-size: 18px;
}


.edit button {
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #CC963F;
    border: 1px solid #CC963F;
    border-radius: 8px;
    margin: 20px 40px;
}


.err {
    font-size: 28px;
    color: red;
}

.edit .desc {
    width: 50%;
    height: 4rem;
    text-rendering: auto;
    border: 1px solid rgb(179, 170, 170);
    font-size: 16px;

    display: inline-block;
    text-align: start;
    resize: auto;

    overflow-wrap: break-word;
    writing-mode: horizontal-tb !important;   
}