.myShopping {
    padding-top: 1rem;
    padding-bottom: 20px;
}

.myShopping, .myShopping .posts {
    width: auto;
    background-color: rgb(156, 219, 156);
    display: flex;
    flex-direction: column;
}


.myShopping .post {
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    margin: 0 auto;
    border: 1px solid rgb(156, 219, 156);
    border-radius: 20px;
}

.myShopping h1 {
    text-align: center;
    font-size: 40px;
}

.myShopping img {
    width: 50%;
    height: 50vh;
    padding-left: 20px;
} 

.myShopping .art {
    width: 50%;
    font-size: 20px;
    text-align: center;
}

.myShopping .btn {
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    font-size: 20px;
    background-color: rgb(21, 21, 234);
    border: 1px solid rgb(21, 21, 234);
    border-radius: 8px;
}

.myShopping .nopost {
    width: 50%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    background-color: red;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 6.8rem;
}